<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
            efficiently about what’s most interesting in this post’s contents.</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
</div>


<div class="row">
    <% posts.forEach(function(post){ %>
    <div class="col-md-6">
        <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"><%= post.status %></strong>
                <h3 class="mb-0"><%= post.title %></h3>
                <div class="mb-1 text-muted"><%= post.creationDate.toDateString() %></div>
                <div class="mb-1" style="text-decoration: underline lightseagreen;">Posted By Admin on :-
                    <%= post.creationDate.toDateString() %></div>
                <p class="card-text mb-auto"><%= post.description %></p>
                <a href="/post/<%= post._id%>" class="stretched-link">Continue reading</a>
            </div>
            <%if( post.file){%>
            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" src="<%= post.file %>" width="200" height="250" focusable="false"
                    role="img" aria-label="Placeholder: Thumbnail">
                <!-- <img src="https://picsum.photos/200/300?random=3"> -->
            </div>
            <%}else{%>
            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" src="https://picsum.photos/200/300?random=3" width="200" height="250"
                    focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <!-- <img src="https://picsum.photos/200/300?random=3"> -->
            </div>
            <%}%>
        </div>
    </div>
    <%})%>
        </div>