<%- include('../default/header') -%>

<body>
    <div class="container">

        <%- include('../default/top-navigation') -%>
        <%- include('../default/top-body') -%>

    </div>

    <main role="main" class="container">
        <%- include('../default/index') -%>

    </main><!-- /.container -->

    <%- include('../default/footer') -%>

</body>

</html>